:root {
  color-scheme: light dark;

  /* Light theme */

  --light-top-border: #f6f8fa;
  --light-bg: #fff;
  --light-font: #24292f;
  --light-font-accent: #6e7781;
  --light-contrast-accent: #cf222e;
  --light-medium-accent: #0550ae;
  --light-darker-accent: #8250df;

  /* Dark theme */

  --dark-top-border: #1f2428;
  --dark-bg: #24292e;
  --dark-font: #e1e4e8;
  --dark-font-accent: #a7b0bc;
  --dark-contrast-accent: #f97583;
  --dark-medium-accent: #79b8ff;
  --dark-darker-accent: #b392f0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  border-top: 1em solid light-dark(var(--light-top-border), var(--dark-top-border));
  padding: 0;
}

body {
  background: light-dark(var(--light-bg), var(--dark-bg));
  color: light-dark(var(--light-font), var(--dark-font));
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16pt;
  max-width: 980px;
  margin: 1em 2em;
}

html::after {
  display: block;
  content: "© 2024 Pavel Khlebko 🐊";
  font-size: 0.6em;
  text-align: right;
  height: 2em;
  line-height: 2em;
  padding: 0 2em;
  color: light-dark(var(--light-font-accent), var(--dark-font-accent));
  background: light-dark(var(--light-top-border), var(--dark-top-border));
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 15pt;
    margin: 2em 4em;
  }
}

@media only screen and (min-width: 980px) {
  body {
    font-size: 14pt;
    margin: 2em auto;
  }
}

nav {
  text-align: center;
  margin: 1em 0;
}

a {
  color: light-dark(var(--light-darker-accent), var(--dark-darker-accent));
}

a:hover {
  color: light-dark(var(--light-medium-accent), var(--dark-medium-accent));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  text-align: center;
}

h1 {
  color: light-dark(var(--light-darker-accent), var(--dark-darker-accent));
  white-space: nowrap;
}

h1 a {
  text-decoration: none;
}

h2 {
  color: light-dark(var(--light-contrast-accent), var(--dark-contrast-accent));
  margin: 1em 0 0.5em 0;
}

h3 {
  color: light-dark(var(--light-darker-accent), var(--dark-darker-accent));
  font-size: 1.4rem;
  margin: 0.6em 0 0.3em 0;
  text-align: left;
}

p {
  margin: 0.3em 0;
}

ul {
  list-style: none outside;
  margin: 0.5em 1.5em;
}

ul li {
  color: light-dark(var(--light-font-accent), var(--dark-font-accent));
  margin: 0.8em 0;
}
